<!-- contentlinks.html -->
Read first
<ul class="sidebar-page-list">
	{% comment %}
  <li class="sidebar-nav-item{% if page.title == "Tynamo - Home" %} active{% endif %}">
    <a href="/">Home</a>
  </li>
	{% endcomment %}
  <li class="sidebar-nav-item{% if page.url == "/Quick+start/" %} active{% endif %}">
    <a href="/Quick+start/">Quick start</a>
  </li>
  <li class="sidebar-nav-item{% if page.url == "/Overview/" %} active{% endif %}">
    <a href="/Overview/">Overview</a>
  </li>
</ul>

Guides
<ul class="sidebar-page-list">
  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
  {% endcomment %}
  
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "guide" %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

Development help
<ul class="sidebar-page-list">
  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
  {% endcomment %}
  
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "notes" %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
